fieldset.clave
{
    top: 8em;
    height: 25em;
    width: 65%;
    margin-left: -7.5%;
    margin-right: 17.5%;
    text-align: center;
}
fieldset.claveVieja
{
    border-color: blue;
    height: 5em;
    top: 2em;
}
fieldset.claveNueva
{
    border-color: green;
    height: 8em;
    top: 9em;
}
fieldset.boton
{
    position: absolute;
    top: 19em;
    border: none;
}
table.centradoClave
{
    position: absolute;
    top: 2em;
    width: 75%;
    margin-left: 5%;
}
div.estadoError
{
    color: red;
    font-size: 1.5em;
}
div.estadoCorrecto
{
    color: green;
    font-size: 1.5em;
}
