fieldeset fieldset
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
fieldset.clave
{
    top: 8em;
    height: 25em;
}
fieldset.claveVieja
{
    border-color: blue;
    height: 4em;
    top: 2em;
}
fieldset.claveNueva
{
    border-color: green;
    height: 8em;
    top: 8em;
}
table.centradoClave
{
    border: dotted;
    position: absolute;
    top: 2em;
    margin-left: auto;
    margin-right: auto;
}