/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 15, 2019, 10:36:41 AM
    Author     : jfaldanam
*/

table {
    border: 0px solid black;
}
th, td {
    padding: 10px
}
.italic {
    font-style: italic;
}
.center-legend {
    border: medium none;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: auto;
}

.thirdSize {
    vertical-align: top;
    height: 100%;
    width: 30%;
    display:inline;
    padding-top: 1px;
}