/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2019, 12:03:07 PM
    Author     : jfaldanam
*/
body {
    font-family: "Lato", sans-serif;
    background: #263238;
    color: white;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
  color: #00FFFF;
}

/* visited link */
a:visited {
  color: violet;
}

/* mouse over link */
a:hover {
  color: white;
}

.box {
    background: #37474f;
    color: white;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 20px;
}

fieldset {
    border:2px solid silver;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

input[type="button"], input[type="submit"], button{
    color: black;
    background-color: silver;
    border: none;
    border-radius: 8px;
    padding: 4px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background-color: #9b30ff;
}

input[type="button"]:disabled, input[type="submit"]:disabled, button:disabled {
    /*Poner que solo se muestre el borde del boton*/
    color: white;
    background-color: #37474f;
    border: 2px solid black;
    cursor: default;
}