div.tituloPerfil
{
    color: purple;
    background-color:  #ece3dd; 
    margin-top: 0ex;
    margin-bottom: 0ex;
    padding-top: 0ex;
    padding-bottom: 0ex;
    border-radius: 8px;
}
fieldset
{
    width: 50%;
    position: absolute;
    left: 25%;
}
fieldset.datos
{
    top: 8em;
    height: 14em;
}
fieldset.email
{
    top: 24em;
}
fieldset.seguridad
{
    top: 40em;
}
table.centradoPerfil
{
    position: absolute;
    top: 2em;
    left: 25%;
}
th.alineadoDerecha
{
    text-align: right;
    vertical-align: bottom;
}
tr.filaPerfil
{
    height: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
