fieldset.tituloPerfil
{
    color: purple;
    margin-left: 25%;
    margin-right: 25%;
}
fieldset.izquierdaPerfil,fieldset.centroPerfil,fieldset.derechaPerfil
{
    position: absolute;
    top: 8em;
    width: 22.5%;
    height: 15em;
}
fieldset.izquierdaPerfil
{
    left: 2.5%;
}
fieldset.centroPerfil
{
    left: 27.5%;
    width: 45%;
}
fieldset.derechaPerfil
{
    left: 75%;
}
table.centradoPerfil
{
    margin-left: 25%;
    margin-right: 25%;
}
div.derechaPerfil
{
    margin-left: 52.5%;
    margin-right: 20%;  
    height: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
th.alineadoDerecha
{
    text-align: right;
    vertical-align: bottom;
}
tr.filaPerfil
{
    height: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
